@import "tailwindcss";

:root {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@custom-variant dark (&:where(.dark, .dark *));


.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spin {
  -moz-appearance: textfield;
}

.scrollbar {
    scrollbar-width: thin;
    margin-right: -0.4rem;
    padding-right: 0.3rem;
    scrollbar-color: #555 transparent;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    margin-right: -0.4rem;
    padding-right: 0.5rem;
  }

  @media (max-width: 768px) {
    .scrollbar::-webkit-scrollbar {
      display: none;
    }
  }